.example-card {
    max-width: 300px;
    min-height: 475px;
    margin-bottom: 50px;
    margin-top: 50px;
    float: left;
    background-color: blanchedalmond;
}
  
.example-header-image {
  background-size: cover;
}

.mat-card-avatar {
  width: 20px;
  height: 20px;
}
.bottIn{
  position: fixed;
  right: 0;
  bottom: 64px;
  margin-bottom: 10px;
  margin-right: 5px;
}
:host >>> ngx-skeleton-loader .loader{
  height: 30px;
}
   