<mat-grid-list [cols]="breakpoint" rowHeight="600px" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let element of DATA_ELEMENT">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><img mat-card-image src="{{element.icon}}" alt="image post"></div>
        <mat-card-title>{{element.title}}</mat-card-title>
        <mat-card-subtitle> {{element.position}} </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{element.image}}" alt="image post">
      <mat-card-content>
        <p> {{element.post}} </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
