 <!--TOOLBAR-->
<div>
  <mat-toolbar class="menu"color="primary" md-scroll-shrink> 
    <button mat-icon-button type="button" aria-label="Toggle sidenav" (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon >menu</mat-icon>
    </button>
    <a mat-button routerLink="" class="titolo" >{{title}}</a>
    <span class="example-spacer"></span>
    
    <a mat-button routerLink="login" class="titolo" *ngIf="isVisible===false">{{'accedi'| translate}}</a><span></span>
    <button mat-icon-button [matMenuTriggerFor]="option" class="example-icon" aria-label="Example icon-button with share icon" *ngIf="isVisible===true">
      <mat-icon >account_circle</mat-icon>
      <mat-menu #option="matMenu">
        <a mat-menu-item routerLink="" (click)="setOff(); openSnackBar()">
          <mat-icon>logout</mat-icon>
          <span>LogOut</span>
        </a>
        <a  mat-menu-item style="height: 55px; width: 220px;" (click)="$event.stopPropagation()">
          <mat-form-field  appearance="outline" style="font-size: 12px; width: 100%;">
            <mat-select [(value)]="lang" (selectionChange)="selectLanguage($event.value)" style="font-size: 15px;">
              <mat-option value="it">Italiano</mat-option>
              <mat-option value="en">English</mat-option>
            </mat-select>
            <mat-icon style="padding-left: 10px;" matSuffix>translate</mat-icon>
          </mat-form-field>
        </a>
        <a  mat-menu-item style="height: 55px; width: 220px;" (click)="$event.stopPropagation()">
          <mat-form-field  appearance="outline" style="font-size: 12px; width: 100%;">
            <mat-select [(value)]="theme" (selectionChange)="setTheme($event.value)" style="font-size: 15px;">
              <mat-option value="blue">{{'bl'| translate}}</mat-option>
              <mat-option value="brown">{{'ml'| translate}}</mat-option>
              <mat-option value="purple">{{'vl'| translate}}</mat-option>
              <mat-option value="green">{{'gl'| translate}}</mat-option>
              <mat-option value="picker" [ngStyle]="{display:'none'}">Picker</mat-option>
            </mat-select>
            <mat-icon style="padding-left: 10px;" matSuffix>format_color_fill</mat-icon>
          </mat-form-field>
        </a>
        <a mat-menu-item *ngIf="this.themeColor === 'lightMode-normal'; else darkOn" (click)="themeSwitcher();$event.stopPropagation();">
          <mat-icon>light_mode</mat-icon>
          <span>{{'tema'| translate}}</span>
        </a>
        <ng-template #darkOn>
          <a mat-menu-item (click)="themeSwitcher();$event.stopPropagation();">
            <mat-icon>dark_mode</mat-icon>
            <span>{{'tema'| translate}}</span>
          </a>
        </ng-template>
        <a mat-menu-item (click)="$event.stopPropagation()" [style.background]="color"
        [cpPosition]="'bottom'"
        [cpPositionOffset]="'-50%'"
        [cpPositionRelativeToArrow]="true"
        [(colorPicker)]="color"
        [cpOKButton]="true"
        (colorPickerSelect)="setColor($event)"
        >
          <mat-icon >format_color_fill</mat-icon>
          <span><strong>{{'colore'| translate}}</strong></span>
        </a>
      </mat-menu>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="share" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon >share</mat-icon>
      <mat-menu #share="matMenu">
        <a mat-menu-item href="https://www.facebook.com/">
          <mat-icon>face</mat-icon>
          <span>FaceBook</span>
        </a>
        <a mat-menu-item href="https://www.instagram.com/">
          <mat-icon>photo_camera</mat-icon>
          <span>Instagram</span>
        </a>
        <a mat-menu-item href="https://it.linkedin.com/">
          <mat-icon>work</mat-icon>
          <span>LinkedIn</span>
        </a>
      </mat-menu>
    </button>
  </mat-toolbar>

  <!--SIDEBAR-->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"[opened]="(isHandset$ | async) === false">
      <mat-list style="position: fixed;">
        <mat-list-item>
          <button mat-menu-item class="list-button" routerLink="">
            <mat-icon>home</mat-icon>
            <span>{{'home'| translate}}</span>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="isVisible">
          <button mat-menu-item routerLink="table">
            <mat-icon>view_list</mat-icon>
            <span>{{'tab'| translate}}</span>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="isVisible">
          <button mat-menu-item routerLink="grid">
            <mat-icon>view_module</mat-icon>
            <span>Post</span>
          </button>
        </mat-list-item><mat-list-item *ngIf="isVisibleStaff">
          <button mat-menu-item routerLink="staff">
            <mat-icon>local_police</mat-icon>
            <span>Staff</span>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <!--CONTENUTO PAGINE-->
    <mat-sidenav-content>  
      <div id="main">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<!--FOOTER-->
<footer id="footer">
  <div>
    <mat-toolbar color="primary" md-scroll-shrink>
        <span class="title-center">&copy; My Site. All right reserved</span>
    </mat-toolbar>
  </div>
</footer>