.main{
    justify-content: center;
    display: flex;
    margin-bottom: 55px;
    min-height: calc(100vh - 64px - 64px);
}

.message-box{
    width: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.message-container{
    background: rgb(200, 201, 200);
    height: auto;
    width: 45%;
    border-radius: 5px;
    margin: 0.5em 1em;
    overflow: auto;
}
.message-container-right{
    background: rgb(121, 219, 107);
    height: auto;
    width: 45%;
    border-radius: 5px;
    margin: 0.5em 1em;
    overflow: auto;
    float: right;
}
.user{
    color: black;
    font-size: 1.4em;
    margin: 0 0.8em;
}
.mess{
    color: black;
    font-size: 1.2em;
    margin: 0 0.8em;
}
.when{
    float:right;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.432);
    margin: 0 0.8em;
}
.del-edit{
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.432);
    margin: 0 0.8em;
    cursor: pointer;
}
.testo-box{
    width: 90%;
    background-color: whitesmoke;
    height: 55px;
    border-style: solid;
    border-radius: 10px;
    bottom: 64px;
    position: fixed;
   
    
    


    /* position: sticky; */
    /* position: -webkit-sticky; */
}

.inp{
    background-color: white;
    border: 1px solid #D8DDEC;
    box-sizing: border-box;
    font-size: 1rem;
    color: black;
    max-width: 80%;
    height: 40px;
    font-size: 25px;
    margin-top: 5px;
}
textarea {
    resize: none;
}