<div class="main" (click)="disappearContext()">
    <div #scrollMe class="message-box">
        <div  *ngFor="let item of messageArray"> 
            <div  class="message-container" *ngIf="item.user!==currentUser; else me">
                <p class="user"><strong>{{item.user}}</strong></p>
                <p class="mess"> {{item.message}} </p>
                <p class="when"> {{item.when}} </p>
            </div>
            <ng-template #me>
                <div [style.background]="colorbg" class="message-container-right" (contextmenu)="contextMenu($event, item.id)">
                    <div class="customContext" #menu>
                        <ul>
                            <li><a (click)="editMessage()">Modifica</a></li>
                            <li><a (click)="deleteMessage()">Elimina</a></li>
                        </ul>
                    </div>
                    <p [style.color]="text" class="user"><strong>{{item.user}}</strong></p>
                    <p [style.color]="text" class="mess"> {{item.message}} </p>
                    <div>
                        <a [style.color]="text" class="when">{{item.when}}</a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="testo-box">
        <textarea 
            matInput [(ngModel)]="messageText"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            class="inp"
        ></textarea>
        <button 
            mat-raised-button color="primary"
            style="width: 75px; height: 40px;" 
            (click)="sendMessage()"
        >INVIA</button>
    </div>
</div>


    

    


